<div class="image-text {% if section.image_position == 'right' %}image-text--reversed{% endif %}">
  <div class="image-text__image">
    <img src="{{ section.image | prepend: '/images/' }}" alt="{{ section.image_alt | escape }}" loading="lazy">
  </div>
  <div class="image-text__content">
    <h2>{{ section.heading }}</h2>
    {{ section.content }}
    {% if section.button_text %}
      <a href="{{ section.button_url }}" class="button">{{ section.button_text }}</a>
    {% endif %}
  </div>
</div>
