<h2>Order {{ order_number }}</h2>
<p>Thanks {{ customer_name }}!</p>
<table>{% for item in items %}<tr><td>{{ item.name }}</td><td>x{{ item.qty }}</td><td>${{ item.price }}</td></tr>{% endfor %}</table>
